openapi: 3.0.1
info:
  contact:
    email: info@gemini-commerce.com
    name: Gemini Team
  license:
    name: Gemini fair use license
    url: https://gemini-commerce.com/api/fair-use-license
  title: order Service
  version: v1
servers:
- url: https://dom.api.gogemini.io/
paths:
  /order.Order/ApproveOrder:
    post:
      operationId: ApproveOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderApproveOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderApproveOrderResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Approve Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/AssignShipment:
    post:
      operationId: AssignShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderAssignShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderAssignShipmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Assign Shipment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CalculateRefund:
    post:
      operationId: CalculateRefund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCalculateRefundRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderCalculateRefundResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Calculate Refund
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CancelFulfillment:
    post:
      operationId: CancelFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCancelFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderCancelFulfillmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Cancel Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CancelOrder:
    post:
      operationId: CancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCancelOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderCancelOrderResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Cancel Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CancelShipment:
    post:
      operationId: CancelShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCancelShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderCancelShipmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Cancel Shipment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CompleteShipmentPacking:
    post:
      operationId: CompleteShipmentPacking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCompleteShipmentPackingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderCompleteShipmentPackingResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Complete Shipment Packing
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateFulfillment:
    post:
      operationId: CreateFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderFulfillment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateHistory:
    post:
      operationId: CreateOrderHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateHistoryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDataHistory'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Order History
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateOrder:
    post:
      operationId: CreateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreatePayment:
    post:
      operationId: CreatePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreatePaymentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderPayment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Payment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreatePaymentTransaction:
    post:
      operationId: CreatePaymentTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreatePaymentTransactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderTransaction'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Payment Transaction
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateRefund:
    post:
      operationId: CreateRefund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateRefundRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderRefund'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Refund
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateRefundTransaction:
    post:
      operationId: CreateRefundTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateRefundTransactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderTransaction'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Refund Transaction
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/CreateShipment:
    post:
      operationId: CreateShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderCreateShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderShipment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Create Shipment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/DeleteOrder:
    post:
      operationId: DeleteOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderDeleteOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDeleteOrderResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Delete Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetFulfillment:
    post:
      operationId: GetFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderFulfillment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetOrder:
    post:
      operationId: GetOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetOrderByCartId:
    post:
      operationId: GetOrderByCartId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetOrderByCartIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Order by Cart ID
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetOrderByOrderNumber:
    post:
      operationId: GetOrderByOrderNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetOrderByOrderNumberRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Order by Order Number
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetPayment:
    post:
      operationId: GetPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetPaymentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderPayment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Payment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetShipment:
    post:
      operationId: GetShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderShipment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Shipment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/GetTransaction:
    post:
      operationId: GetTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderGetTransactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderTransaction'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Get Transaction
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/HoldOrder:
    post:
      operationId: HoldOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderHoldOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderHoldOrderResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Hold Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ImportOrder:
    post:
      operationId: ImportOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderImportOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Import Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ListFulfillments:
    post:
      operationId: ListFulfillments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderListFulfillmentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderListFulfillmentsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: List Fulfillments
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ListOrders:
    post:
      operationId: ListOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderListOrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderListOrdersResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: List Orders
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ListOrdersByCustomer:
    post:
      operationId: ListOrdersByCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderListOrdersByCustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderListOrdersByCustomerResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: List Orders by Customer
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ListOrdersByNumbers:
    post:
      operationId: ListOrdersByNumbers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderListOrdersByNumbersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderListOrdersByNumbersResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: List Orders by Numbers
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ListShipments:
    post:
      operationId: ListShipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderListShipmentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderListShipmentsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: List Shipments
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/PrintOrdersLabels:
    post:
      operationId: PrintOrdersLabels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderPrintOrdersLabelsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderPrintOrdersLabelsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Print Orders Labels
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/QuashFulfillment:
    post:
      operationId: QuashFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderQuashFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderQuashFulfillmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Quash Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/QuashShipment:
    post:
      operationId: QuashShipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderQuashShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderQuashShipmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Quash Shipment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReceiveFulfillment:
    post:
      operationId: ReceiveFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReceiveFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReceiveFulfillmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Receive Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReportFulfillmentError:
    post:
      operationId: ReportFulfillmentError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReportFulfillmentErrorRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReportFulfillmentErrorResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Report Fulfillment Error
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReportFulfillmentNotResolvable:
    post:
      operationId: ReportFulfillmentNotResolvable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReportFulfillmentNotResolvableRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReportFulfillmentNotResolvableResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Report Fulfillment Not Resolvable
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReportFulfillmentReady:
    post:
      operationId: ReportFulfillmentReady
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReportFulfillmentReadyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReportFulfillmentReadyResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Report Fulfillment Ready
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReportShipmentDelivery:
    post:
      operationId: ReportShipmentDelivery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReportShipmentDeliveryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReportShipmentDeliveryResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Report Shipment Delivery
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ReportShipmentMissingStock:
    post:
      operationId: ReportShipmentMissingStock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderReportShipmentMissingStockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderReportShipmentMissingStockResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Report Shipment Missing Stock
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/ResolveShipmentMissingStock:
    post:
      operationId: ResolveShipmentMissingStock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderResolveShipmentMissingStockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderResolveShipmentMissingStockResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Resolve Shipment Missing Stock
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/RetryFulfillment:
    post:
      operationId: RetryFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderRetryFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderRetryFulfillmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Retry Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/SearchOrders:
    post:
      operationId: SearchOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderSearchOrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderSearchOrdersResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Search Orders
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/SendFulfillment:
    post:
      operationId: SendFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderSendFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderSendFulfillmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Send Fulfillment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/SendOrderNotification:
    post:
      operationId: SendOrderNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderSendOrderNotificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderSendOrderNotificationResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Send Order Notification
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/StartFulfillmentProcessing:
    post:
      operationId: StartFulfillmentProcessing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderStartFulfillmentProcessingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderStartFulfillmentProcessingResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Start Fulfillment Processing
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/StartShipmentProcessing:
    post:
      operationId: StartShipmentProcessing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderStartShipmentProcessingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderStartShipmentProcessingResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Start Shipment Processing
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/UnholdOrder:
    post:
      operationId: UnholdOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderUnholdOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderUnholdOrderResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Unhold Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/UpdateOrder:
    post:
      operationId: UpdateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderUpdateOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderOrderData'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Update Order
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /order.Order/UpdatePayment:
    post:
      operationId: UpdatePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderUpdatePaymentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderPayment'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      security:
      - standardAuthorization: []
      summary: Update Payment
      tags:
      - Order
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    CreateOrderRequestInitialPayment:
      properties:
        code:
          type: string
        additionalInfo:
          type: string
        amount:
          $ref: '#/components/schemas/orderMoney'
        ccInfo:
          $ref: '#/components/schemas/PaymentCcInfo'
        transaction:
          $ref: '#/components/schemas/InitialPaymentInitialTransaction'
      type: object
    ImportOrderRequestImportedPayment:
      properties:
        code:
          type: string
        additionalInfo:
          type: string
        amounts:
          items:
            $ref: '#/components/schemas/orderPaymentAmount'
          type: array
        ccInfo:
          $ref: '#/components/schemas/PaymentCcInfo'
      type: object
    InitialPaymentInitialTransaction:
      properties:
        type:
          $ref: '#/components/schemas/orderTransactionType'
        additionalInfo:
          type: string
      type: object
    OrderByDirection:
      default: DEFAULT
      enum:
      - DEFAULT
      - ASC
      - DESC
      type: string
    OrderDataCustomerInfo:
      example:
        grn: grn
        firstname: firstname
        data: data
        phone: phone
        segment: segment
        taxCode: taxCode
        email: email
        certifiedEmail: certifiedEmail
        lastname: lastname
      properties:
        grn:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        phone:
          type: string
        segment:
          type: string
        data:
          type: string
        certifiedEmail:
          type: string
        taxCode:
          type: string
      type: object
    OrderDataHistory:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        comment: comment
        status: status
      properties:
        createdAt:
          format: date-time
          type: string
        status:
          type: string
        comment:
          type: string
      type: object
    OrderDataPaymentInfo:
      example:
        amount:
          micros: 6
          units: units
        code: code
        vatPercentage: 7.0614014
        fee:
          micros: 6
          units: units
        additionalInfo: additionalInfo
        label:
          value:
            key: value
        title:
          value:
            key: value
        vatInaccurate: true
        vatCalculated: true
        vatAmount:
          micros: 6
          units: units
      properties:
        code:
          type: string
        additionalInfo:
          type: string
        amount:
          $ref: '#/components/schemas/orderMoney'
        fee:
          $ref: '#/components/schemas/orderMoney'
        vatAmount:
          $ref: '#/components/schemas/orderMoney'
        vatPercentage:
          format: float
          type: number
        vatInaccurate:
          type: boolean
        vatCalculated:
          type: boolean
        title:
          $ref: '#/components/schemas/orderLocalizedText'
        label:
          $ref: '#/components/schemas/orderLocalizedText'
      type: object
    OrderDataPromotionInfo:
      example:
        amount:
          micros: 6
          units: units
        vatPercentage: 3.6160767
        additionalInfo: additionalInfo
        name: name
        description: description
        promotionGrn: promotionGrn
        type: type
        couponCode: couponCode
        vatInaccurate: true
        vatCalculated: true
        vatAmount:
          micros: 6
          units: units
      properties:
        promotionGrn:
          type: string
        type:
          type: string
        additionalInfo:
          type: string
        name:
          type: string
        description:
          type: string
        amount:
          $ref: '#/components/schemas/orderMoney'
        couponCode:
          type: string
        vatAmount:
          $ref: '#/components/schemas/orderMoney'
        vatPercentage:
          format: float
          type: number
        vatInaccurate:
          type: boolean
        vatCalculated:
          type: boolean
      type: object
    OrderDataShipmentInfo:
      example:
        amount:
          micros: 6
          units: units
        grn: grn
        code: code
        method: method
        fee:
          micros: 6
          units: units
        title: title
        vatCalculated: true
        vatAmount:
          micros: 6
          units: units
        returnAddress:
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          languageCode: languageCode
          administrativeArea: administrativeArea
          revision: 2
          regionCode: regionCode
          phoneNumber: phoneNumber
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          additionalInfo: "{}"
          addressLines:
          - addressLines
          - addressLines
        reference: reference
        vatPercentage: 9.301444
        additionalInfo: additionalInfo
        fromAddress:
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          languageCode: languageCode
          administrativeArea: administrativeArea
          revision: 2
          regionCode: regionCode
          phoneNumber: phoneNumber
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          additionalInfo: "{}"
          addressLines:
          - addressLines
          - addressLines
        vatInaccurate: true
      properties:
        reference:
          type: string
        code:
          type: string
        method:
          type: string
        title:
          type: string
        additionalInfo:
          type: string
        amount:
          $ref: '#/components/schemas/orderMoney'
        fee:
          $ref: '#/components/schemas/orderMoney'
        vatAmount:
          $ref: '#/components/schemas/orderMoney'
        vatPercentage:
          format: float
          type: number
        vatInaccurate:
          type: boolean
        vatCalculated:
          type: boolean
        grn:
          type: string
        fromAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        returnAddress:
          $ref: '#/components/schemas/orderPostalAddress'
      type: object
    OrderDataSubtotal:
      example:
        code: null
        value:
          micros: 6
          units: units
      properties:
        code:
          $ref: '#/components/schemas/OrderDataSubtotalCode'
        value:
          $ref: '#/components/schemas/orderMoney'
      type: object
    OrderDataSubtotalCode:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - PAYMENT
      - SHIPMENT
      - TAX
      - ITEMS
      - ITEMS_DISCOUNTED
      - DISCOUNT
      type: string
    OrderDataTotal:
      example:
        code: null
        value:
          micros: 6
          units: units
      properties:
        code:
          $ref: '#/components/schemas/OrderDataTotalCode'
        value:
          $ref: '#/components/schemas/orderMoney'
      type: object
    OrderDataTotalCode:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - ORDERED
      - PAID
      - REFUNDED
      type: string
    PaymentCcInfo:
      example:
        owner: owner
        expMonth: 5
        last4: last4
        expYear: expYear
        approval: approval
        numberEnc: numberEnc
        avsStatus: avsStatus
        type: type
      properties:
        approval:
          type: string
        expMonth:
          format: int32
          type: integer
        expYear:
          type: string
        last4:
          type: string
        numberEnc:
          type: string
        owner:
          type: string
        avsStatus:
          type: string
        type:
          type: string
      type: object
    PrintOrdersLabelsResponseFailedOrder:
      example:
        orderNumber: orderNumber
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        orderNumber:
          type: string
        errorMessage:
          type: string
        errorCode:
          type: string
      type: object
    ShipmentTracking:
      example:
        number: number
        carrierTitle: carrierTitle
        carrierCode: carrierCode
        labelUrl: labelUrl
        url: url
      properties:
        carrierCode:
          type: string
        carrierTitle:
          type: string
        url:
          type: string
        number:
          type: string
        labelUrl:
          type: string
      type: object
    UpdateOrderRequestPayload:
      properties:
        billingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        shippingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        additionalInfo:
          properties: {}
          type: object
      type: object
    orderApproveOrderRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
      type: object
    orderApproveOrderResponse:
      type: object
    orderAssignShipmentRequest:
      properties:
        tenantId:
          type: string
        shipmentId:
          type: string
      type: object
    orderAssignShipmentResponse:
      type: object
    orderCalculateRefundRequest:
      properties:
        tenantId:
          type: string
        paymentId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderRefundItem'
          type: array
        shipping:
          description: Boolean indicating whether to calculate refund for shipping.
          type: boolean
      type: object
    orderCalculateRefundResponse:
      example:
        createRefundRequest:
          note: note
          amounts:
          - code: null
            value:
              micros: 6
              units: units
          - code: null
            value:
              micros: 6
              units: units
          paymentId: paymentId
          tenantId: tenantId
          additionalInfo: additionalInfo
          items:
          - orderItemId: orderItemId
            qty: 0
          - orderItemId: orderItemId
            qty: 0
      properties:
        createRefundRequest:
          $ref: '#/components/schemas/orderCreateRefundRequest'
      type: object
    orderCancelFulfillmentRequest:
      properties:
        tenantId:
          type: string
        fulfillmentId:
          type: string
        reason:
          type: string
      type: object
    orderCancelFulfillmentResponse:
      type: object
    orderCancelOrderRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        reason:
          type: string
      type: object
    orderCancelOrderResponse:
      type: object
    orderCancelShipmentRequest:
      properties:
        tenantId:
          type: string
        shipmentId:
          type: string
        reason:
          type: string
      type: object
    orderCancelShipmentResponse:
      type: object
    orderCompleteShipmentPackingRequest:
      properties:
        tenantId:
          type: string
        shipmentId:
          type: string
      type: object
    orderCompleteShipmentPackingResponse:
      type: object
    orderCreateFulfillmentRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderFulfillmentItem'
          type: array
      type: object
    orderCreateHistoryRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        comment:
          type: string
      type: object
    orderCreateOrderRequest:
      properties:
        tenantId:
          type: string
        number:
          type: string
        channel:
          type: string
        market:
          type: string
        locale:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderOrderDataItem'
          type: array
        paymentsInfo:
          items:
            $ref: '#/components/schemas/OrderDataPaymentInfo'
          type: array
        shipmentsInfo:
          items:
            $ref: '#/components/schemas/OrderDataShipmentInfo'
          type: array
        promotions:
          items:
            $ref: '#/components/schemas/OrderDataPromotionInfo'
          type: array
        payments:
          items:
            $ref: '#/components/schemas/CreateOrderRequestInitialPayment'
          type: array
        currency:
          $ref: '#/components/schemas/orderCurrency'
        subtotals:
          additionalProperties:
            $ref: '#/components/schemas/OrderDataSubtotal'
          type: object
        totals:
          additionalProperties:
            $ref: '#/components/schemas/OrderDataTotal'
          type: object
        vatIncluded:
          type: boolean
        billingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        shippingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        customerInfo:
          $ref: '#/components/schemas/OrderDataCustomerInfo'
        cartGrn:
          type: string
        onHold:
          type: boolean
        notes:
          type: string
      type: object
    orderCreatePaymentRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        code:
          type: string
        additionalInfo:
          type: string
        amount:
          $ref: '#/components/schemas/orderMoney'
        ccInfo:
          $ref: '#/components/schemas/PaymentCcInfo'
      type: object
    orderCreatePaymentTransactionRequest:
      properties:
        tenantId:
          type: string
        paymentId:
          type: string
        type:
          $ref: '#/components/schemas/orderTransactionType'
        additionalInfo:
          type: string
      type: object
    orderCreateRefundRequest:
      example:
        note: note
        amounts:
        - code: null
          value:
            micros: 6
            units: units
        - code: null
          value:
            micros: 6
            units: units
        paymentId: paymentId
        tenantId: tenantId
        additionalInfo: additionalInfo
        items:
        - orderItemId: orderItemId
          qty: 0
        - orderItemId: orderItemId
          qty: 0
      properties:
        tenantId:
          type: string
        paymentId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderRefundItem'
          type: array
        amounts:
          items:
            $ref: '#/components/schemas/orderRefundAmount'
          type: array
        note:
          type: string
        additionalInfo:
          type: string
      type: object
    orderCreateRefundTransactionRequest:
      properties:
        tenantId:
          type: string
        refundId:
          type: string
        parentTransactionId:
          type: string
        type:
          $ref: '#/components/schemas/orderTransactionType'
        additionalInfo:
          type: string
      type: object
    orderCreateShipmentRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderShipmentItem'
          type: array
        address:
          $ref: '#/components/schemas/orderPostalAddress'
        fromAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        returnAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        code:
          type: string
        method:
          type: string
      type: object
    orderCurrency:
      default: XXX
      enum:
      - XXX
      - ALL
      - DZD
      - ARS
      - AUD
      - BSD
      - BHD
      - BDT
      - AMD
      - BBD
      - BMD
      - BTN
      - BOB
      - BWP
      - BZD
      - SBD
      - BND
      - MMK
      - BIF
      - KHR
      - CAD
      - CVE
      - KYD
      - LKR
      - CLP
      - CNY
      - COP
      - KMF
      - CRC
      - HRK
      - CUP
      - CZK
      - DKK
      - DOP
      - SVC
      - ETB
      - ERN
      - FKP
      - FJD
      - DJF
      - GMD
      - GIP
      - GTQ
      - GNF
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - ISK
      - INR
      - IDR
      - IRR
      - IQD
      - ILS
      - JMD
      - JPY
      - KZT
      - JOD
      - KES
      - KPW
      - KRW
      - KWD
      - KGS
      - LAK
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - MOP
      - MWK
      - MYR
      - MVR
      - MRO
      - MUR
      - MXN
      - MNT
      - MDL
      - MAD
      - OMR
      - NAD
      - NPR
      - ANG
      - AWG
      - VUV
      - NZD
      - NIO
      - NGN
      - NOK
      - PKR
      - PAB
      - PGK
      - PYG
      - PEN
      - PHP
      - QAR
      - RUB
      - RWF
      - SHP
      - STD
      - SAR
      - SCR
      - SLL
      - SGD
      - VND
      - SOS
      - ZAR
      - SSP
      - SZL
      - SEK
      - CHF
      - SYP
      - THB
      - TOP
      - TTD
      - AED
      - TND
      - UGX
      - MKD
      - EGP
      - GBP
      - TZS
      - USD
      - UYU
      - UZS
      - WST
      - YER
      - TWD
      - CUC
      - ZWL
      - TMT
      - GHS
      - VEF
      - SDG
      - UYI
      - RSD
      - MZN
      - AZN
      - RON
      - CHE
      - CHW
      - TRY
      - XAF
      - XCD
      - XOF
      - XPF
      - XBA
      - XBB
      - XBC
      - XBD
      - XAU
      - XDR
      - XAG
      - XPT
      - XPD
      - XUA
      - ZMW
      - SRD
      - MGA
      - COU
      - AFN
      - TJS
      - AOA
      - BYR
      - BGN
      - CDF
      - BAM
      - EUR
      - MXV
      - UAH
      - GEL
      - BOV
      - PLN
      - BRL
      - CLF
      - XSU
      - USN
      title: |-
        - XXX: XXX = 999; //Changed to 0 because proto3 requires the default to be 0
         - ALL: XTS = 963; //Codes specifically reserved for testing purposes
      type: string
    orderDeleteOrderRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
      type: object
    orderDeleteOrderResponse:
      type: object
    orderFulfillment:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        orderId: orderId
        id: id
        items:
        - orderItemId: orderItemId
          qty: 0
        - orderItemId: orderItemId
          qty: 0
        updatedAt: 2000-01-23T04:56:07.000+00:00
        status: status
      properties:
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        orderId:
          type: string
        id:
          type: string
        status:
          type: string
        items:
          items:
            $ref: '#/components/schemas/orderFulfillmentItem'
          type: array
      type: object
    orderFulfillmentItem:
      example:
        orderItemId: orderItemId
        qty: 0
      properties:
        orderItemId:
          type: string
        qty:
          format: int64
          type: integer
      type: object
    orderGetFulfillmentRequest:
      properties:
        tenantId:
          type: string
        id:
          type: string
      type: object
    orderGetOrderByCartIdRequest:
      properties:
        tenantId:
          type: string
        cartId:
          type: string
      type: object
    orderGetOrderByOrderNumberRequest:
      properties:
        tenantId:
          type: string
        orderNumber:
          type: string
      type: object
    orderGetOrderRequest:
      properties:
        tenantId:
          type: string
        id:
          type: string
      type: object
    orderGetPaymentRequest:
      properties:
        tenantId:
          type: string
        id:
          type: string
      type: object
    orderGetShipmentRequest:
      properties:
        tenantId:
          type: string
        id:
          type: string
      type: object
    orderGetTransactionRequest:
      properties:
        tenantId:
          type: string
        id:
          type: string
      type: object
    orderHoldOrderRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
        reason:
          type: string
      type: object
    orderHoldOrderResponse:
      type: object
    orderImportOrderRequest:
      properties:
        tenantId:
          type: string
        createdAt:
          format: date-time
          type: string
        number:
          type: string
        channel:
          type: string
        market:
          type: string
        locale:
          type: string
        customerInfo:
          $ref: '#/components/schemas/OrderDataCustomerInfo'
        shippingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        billingAddress:
          $ref: '#/components/schemas/orderPostalAddress'
        payments:
          items:
            $ref: '#/components/schemas/ImportOrderRequestImportedPayment'
          type: array
        paymentsInfo:
          items:
            $ref: '#/components/schemas/OrderDataPaymentInfo'
          type: array
        shipmentsInfo:
          items:
            $ref: '#/components/schemas/OrderDataShipmentInfo'
          type: array
        items:
          items:
            $ref: '#/components/schemas/orderOrderDataItem'
          type: array
        subtotals:
          additionalProperties:
            $ref: '#/components/schemas/OrderDataSubtotal'
          type: object
        totals:
          additionalProperties:
            $ref: '#/components/schemas/OrderDataTotal'
          type: object
        status:
          type: string
        currency:
          $ref: '#/components/schemas/orderCurrency'
      type: object
    orderListFulfillmentsRequest:
      properties:
        tenantId:
          type: string
        orderId:
          type: string
      type: object
    orderListFulfillmentsResponse:
      example:
        fulfillments:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          orderId: orderId
          id: id
          items:
          - orderItemId: orderItemId
            qty: 0
          - orderItemId: orderItemId
            qty: 0
          updatedAt: 2000-01-23T04:56:07.000+00:00
          status: status
        - createdAt: 2000-01-23T04:56:07.000+00:00
          orderId: orderId
          id: id
          items:
          - orderItemId: orderItemId
            qty: 0
          - orderItemId: orderItemId
            qty: 0
          updatedAt: 2000-01-23T04:56:07.000+00:00
          status: status
      properties:
        fulfillments:
          items:
            $ref: '#/components/schemas/orderFulfillment'
          type: array
      type: object
    orderListOrdersByCustomerRequest:
      properties:
        tenantId:
          type: string
        customerGrn:
          type: string
        pageSize:
          description: |-
            The maximum number of orders to return. The service may return fewer than
            this value.
            If unspecified, at most 10 orders will be returned.
            The maximum value is 100; values above 100 will be coerced to 100.
          format: int64
          type: integer
        pageToken:
          description: |-
            A page token, received from a previous `ListOrders` call.
            Provide this to retrieve the subsequent page.


            When paginating, all other parameters provided to `ListOrders` must match
            the call that provided the page token.
          type: string
      type: object
    orderListOrdersByCustomerResponse:
      example:
        nextPageToken: nextPageToken
        orders:
        - notes: notes
          historyEvents:
          - createdAt: 2000-01-23T04:56:07.000+00:00
            comment: comment
            status: status
          - createdAt: 2000-01-23T04:56:07.000+00:00
            comment: comment
            status: status
          payments:
          - code: code
            amounts:
            - code: null
              value:
                micros: 6
                units: units
            - code: null
              value:
                micros: 6
                units: units
            orderId: orderId
            additionalInfo: additionalInfo
            id: id
            ccInfo:
              owner: owner
              expMonth: 5
              last4: last4
              expYear: expYear
              approval: approval
              numberEnc: numberEnc
              avsStatus: avsStatus
              type: type
            transactions:
            - createdAt: 2000-01-23T04:56:07.000+00:00
              paymentId: paymentId
              childTransactions:
              - null
              - null
              additionalInfo: additionalInfo
              id: id
              type: null
            - createdAt: 2000-01-23T04:56:07.000+00:00
              paymentId: paymentId
              childTransactions:
              - null
              - null
              additionalInfo: additionalInfo
              id: id
              type: null
          - code: code
            amounts:
            - code: null
              value:
                micros: 6
                units: units
            - code: null
              value:
                micros: 6
                units: units
            orderId: orderId
            additionalInfo: additionalInfo
            id: id
            ccInfo:
              owner: owner
              expMonth: 5
              last4: last4
              expYear: expYear
              approval: approval
              numberEnc: numberEnc
              avsStatus: avsStatus
              type: type
            transactions:
            - createdAt: 2000-01-23T04:56:07.000+00:00
              paymentId: paymentId
              childTransactions:
              - null
              - null
              additionalInfo: additionalInfo
              id: id
              type: null
            - createdAt: 2000-01-23T04:56:07.000+00:00
              paymentId: paymentId
              childTransactions:
              - null
              - null
              additionalInfo: additionalInfo
              id: id
              type: null
          channel: channel
          customerInfo:
            grn: grn
            firstname: firstname
            data: data
            phone: phone
            segment: segment
            taxCode: taxCode
            email: email
            certifiedEmail: certifiedEmail
            lastname: lastname
          locale: locale
          createdAt: 2000-01-23T04:56:07.000+00:00
          number: number
          fulfillments:
          - createdAt: 2000-01-23T04:56:07.000+00:00
            orderId: orderId
            id: id
            items:
            - orderItemId: orderItemId
              qty: 0
            - orderItemId: orderItemId
              qty: 0
            updatedAt: 2000-01-23T04:56:07.000+00:00
            status: status
          - createdAt: 2000-01-23T04:56:07.000+00:00
            orderId: orderId
            id: id
            items:
            - orderItemId: orderItemId
              qty: 0
            - orderItemId: orderItemId
              qty: 0
            updatedAt: 2000-01-23T04:56:07.000+00:00
            status: status
          isDeleted: true
          additionalInfo: "{}"
          currency: null
          id: id
          paymentsInfo:
          - amount:
              micros: 6
              units: units
            code: code
            vatPercentage: 7.0614014
            fee:
              micros: 6
              units: units
            additionalInfo: additionalInfo
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 6
              units: units
          - amount:
              micros: 6
              units: units
            code: code
            vatPercentage: 7.0614014
            fee:
              micros: 6
              units: units
            additionalInfo: additionalInfo
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 6
              units: units
          updatedAt: 2000-01-23T04:56:07.000+00:00
          shipmentsInfo:
          - amount:
              micros: 6
              units: units
            grn: grn
            code: code
            method: method
            fee:
              micros: 6
              units: units
            title: title
            vatCalculated: true
            vatAmount:
              micros: 6
              units: units
            returnAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            reference: reference
            vatPercentage: 9.301444
            additionalInfo: additionalInfo
            fromAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            vatInaccurate: true
          - amount:
              micros: 6
              units: units
            grn: grn
            code: code
            method: method
            fee:
              micros: 6
              units: units
            title: title
            vatCalculated: true
            vatAmount:
              micros: 6
              units: units
            returnAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            reference: reference
            vatPercentage: 9.301444
            additionalInfo: additionalInfo
            fromAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            vatInaccurate: true
          subtotals:
            key:
              code: null
              value:
                micros: 6
                units: units
          grn: grn
          onHold: true
          cartGrn: cartGrn
          totals:
            key:
              code: null
              value:
                micros: 6
                units: units
          shipments:
          - createdAt: 2000-01-23T04:56:07.000+00:00
            address:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            orderId: orderId
            fromAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
            id: id
            items:
            - rowWeight: rowWeight
              orderItemId: orderItemId
              qty: 5
            - rowWeight: rowWeight
              orderItemId: orderItemId
              qty: 5
            tracking:
            - number: number
              carrierTitle: carrierTitle
              carrierCode: carrierCode
              labelUrl: labelUrl
              url: url
            - number: number
              carrierTitle: carrierTitle
              carrierCode: carrierCode
              labelUrl: labelUrl
              url: url
            returnTracking:
            - number: number
              carrierTitle: carrierTitle
              carrierCode: carrierCode
              labelUrl: labelUrl
              url: url
            - number: number
              carrierTitle: carrierTitle
              carrierCode: carrierCode
              labelUrl: labelUrl
              url: url
            updatedAt: 2000-01-23T04:56:07.000+00:00
            status: status
            returnAddress:
              postalCode: postalCode
              locality: locality
              sublocality: sublocality
              languageCode: languageCode
              administrativeArea: administrativeArea
              revision: 2
              regionCode: regionCode
              phoneNumber: phoneNumber
              sortingCode: sortingCode
              recipients:
              - recipients
              - recipients
              organization: organization
              additionalInfo: "{}"
              addressLines:
              - addressLines
              - addressLines
          - createdAt: 2000-01-23T04:56:07.000+00:00
[...]
